@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
.Aboutus_page1{
    background-image: url("../../Images/User_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 50rem;
    width: 95rem;
}
.container1{
    position: absolute ;
    margin-left: 25rem;
    margin-top: -15rem;
}
#hd{
    margin-top: 10rem;
    margin-left: 10rem;
    font-size:7rem;
    -webkit-text-fill-color:#991b1f;
    font-family:'pirata one', cursive; 
}
#subhd{
    margin-left: 17rem;
    font-size: 3rem;
    -webkit-text-fill-color: #991b1f;
    font-family:'pirata one', cursive; 
}
.Aboutus_page2{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    height:50rem;
    width: 100%;
    position: absolute;
}
.container2 form{
    height: 30rem;
    width: 90rem;
    margin-left: 3rem;
}
.container2 p {
    font-size: 27px;
    font-weight: 400;
    color: #f6f2f2;
    margin-left: 3rem;
    margin-top: 1rem;
    display: flex;
    
}
.container2 h2{
    margin-top: 3rem;
    margin-left: 6rem;
    -webkit-text-fill-color:#991b1f;
    font-size: 80px;
    font-family:'pirata one', cursive;  
    font-weight: 700;
    color: #991b1f;
    display: flex;
}
.Aboutus_page3{
    margin-top: 50rem;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem; 
}
.Aboutus_page3 h2{
    text-align: center;
    font-size:6rem ;
    /* margin-top: 6rem; */
    margin-left: 20rem;
    -webkit-text-fill-color: #991b1f;
    font-family:'pirata one', cursive; 
}
.aboutus_img1 img{
    margin-top: 3rem;
    margin-left: 5rem;
   height: 25rem;
   width: 32rem; 
   border-radius: 50%;
   /* display: flex; */
}
.Aboutus_page3 form{
    width: 45rem;
    height: 40rem;
    -webkit-text-fill-color: #cecece;
      margin-left:45rem ;
      margin-top: -20rem;
      font-size: 30px;
}

.Aboutus_page4{
    display: flex;
    background-color: black;
    height: 30rem;
    
}
.aboutus_img2 img{
    height: 25rem;
    width: 32rem; 
    border-radius: 50%;
    margin-left :7rem;
    margin-top: -3rem;
    
}
.Aboutus_page4 p{
    font-size: 30px;
    font-weight: 400;
    color: #f6f2f2;
}
.Aboutus_page4 form{
    width: 40rem;
    height: 30rem;
    margin-left: 3rem;
}
#btn{
    margin-left: 30rem;
    height: 3rem;
    width: 25rem;
    font-size: 1.5rem;
    background-color:#991b1f;
}
.Aboutus_button{
    background-color: black;
    height: 10rem;
}
.aboutus_img3 img{
    height: 20rem;
    width: 25rem;
    margin-top: -5rem;
    margin-left: 3rem;
}
.aboutus_img4 img{
    height: 20rem;
    width: 28rem;
    margin-top: -20rem;
    margin-left: 33rem;
}
.aboutus_img5 img{
    height: 20rem;
    width: 25rem;
    margin-top: -23rem;
    margin-left: 66rem;
}