
#contact-us{
    background-image: url('../../Images/ContacttUs.jpeg');
    height: 35rem;
    width: 100%;
    position: absolute;

}
h1{
  color: rgb(187, 7, 7);
  font-size: 4rem; 
  font-weight: bolder;
  font-family: 'Bona Nova';
  padding-top: 15rem;
  margin-left: 35px;
}
h5{
    color: aliceblue;
    font-family: 'Bona Nova';
    font-size: 30px;
    font-weight: bold;
    margin-left: 65px;
    line-height: 5;
}
.contact-info{
    background-color: rgb(15, 14, 14);
    height: 110rem;
    overflow:hidden;
    width: 100%;

}
#c-i{
    display: flex;
    color: aliceblue;
    font-family: 'Bona Nova';
    margin-top: 38rem;
    color: red;
    font-weight: bold;
    font-size: 40px;
    margin-left: 45px;
}
#phone{
    color: red;
    font-family: 'Bona Nova';
    margin-left: 50px;
    line-height: 2.5;
}
#location{
    color: red;
    font-family: 'Bona Nova';
    margin-left:50px ;
    line-height: 2.5;
}
#email{
    color: red;
    font-family: 'Bona Nova';
    margin-left:50px ;
    line-height: 2.5;
}
.opening-hours{
position: absolute;
bottom: 50px;
top: 40rem;
right: 10rem;
background-color: black;
height: 40rem;
width:30rem

}
#reservations{
    color: whitesmoke;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 6.5rem;
    margin-top: 0rem;
    
}
#opening-hours {
    color:red;
    font-size: 60px;
    position: absolute;
    bottom: 27.5rem;
    margin-left: 70px;
}
#opening-days{
    color: whitesmoke;
    font-family:'Bona Nova';
    position: absolute;
    top: 16rem;
    font-size: 25px;
    word-spacing: 2em;
}
#opening-time{
    color: red;
    font-family: cursive;
    word-spacing: 2em;
    position: absolute;
    top: 20rem;
    left: 2rem;
    font-size: 30px;
    margin: 30px;
}
#button1{
    color: whitesmoke;
    position: absolute;
    top: 30rem;
    left: 10rem;
    height: 5.5rem;
    width: 14rem;
    font-size: 22px;
    font-family: cursive;
}
.contact-form{
    position: absolute;
    top: 69rem;
    left: 3rem;
    color: aliceblue;
}
input[type=text], input[type=email] ,input[type=textarea]{
    /* background-color: rgba(123, 114, 114, 0.338); */
    background-color: white;
border: none;
    /* border: 1px solid rgba(123, 114, 114, 0.338) ; */
    
    -webkit-text-fill-color:black;
    opacity: 0.8;
}