@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
.ContactUs{
    background-image: url('../../Images/ContactUs.jpg');
    background-size: cover;
    height: 40rem;
    width: 100%; 
}
h1{
  color: #f1e9e9;
  font-size: 4rem; 
  font-weight: bolder;
  font-family: 'Pirata One';
  padding-top: 15rem;
  margin-left: 45px;
}
h5{
    color: #991b1f;
    font-family: 'Pirata One';
    font-size: 30px;
    font-weight: bold;
    margin-left: 65px;
    line-height: 5;
}
.ContactUs_info{
    background-color: rgb(15, 14, 14);
    height: 60rem;
    overflow:hidden;
    width: 100%;
    
}
.ContactUs_head{
    display: flex;
    color: aliceblue;
    font-family: 'Bona Nova';
    color: #991b1f;
    font-weight: bold;
    font-size: 40px;
    margin-left: 45px;
}
.ContactUs_Phone{
    color: #991b1f;
    font-family: 'Bona Nova';
    margin-left: 50px;
    line-height: 2.5;
}
.ContactUs_Address{
    color: #991b1f;
    font-family: 'Bona Nova';
    margin-left:50px ;
    line-height: 2.5;
}
.ContactUs_Email{
    color: #991b1f;
    font-family: 'Bona Nova';
    margin-left:50px ;
    line-height: 2.5;
}
.ContactUs_Timings{
position: absolute;
bottom: 50px;
top: 40rem;
right: 10rem;
background-color: black;
height: 40rem;
width:30rem;
font-family: 'Pirata One';
}
#ContactUs_reservations{
    color: whitesmoke;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 6.5rem;
    margin-top: 0rem;
}
#ContactUs_Openinghours {
    color: #991b1f;
    font-size: 60px;
    position: absolute;
    bottom: 27.5rem;
    margin-left: 7rem;
}
#ContactUs_openingdays{
    color: whitesmoke;
    font-family:'Bona Nova';
    position: absolute;
    top: 16rem;
    font-size: 25px;
    word-spacing: 2em;
    margin-left: 6rem;
}
#ContactUs_openingtime{
    color: #991b1f;
    font-family: cursive;
    word-spacing: 2em;
    position: absolute;
    top: 20rem;
    left: 2rem;
    font-size: 30px;
    margin: 30px;
}
#ContactUs_button1{
    color: #991b1f;
    -webkit-text-fill-color: aliceblue;
    position: absolute;
    top: 30rem;
    left: 8rem;
    height: 5.5rem;
    width: 14rem;
    font-size: 22px;
    font-family: cursive;
}
.ContactUs_form{
    position: absolute;
    top: 69rem;
    left: 3rem;
    color: rgba(240, 248, 255, 0.584);
    margin-top: 8rem;
}
.ContactUs_hours form{
   width: 35rem; 
   margin-top: 15rem;
   margin-left:100rem ;
}
.ContactUs_name_email input[type=text], [type=email]{
    -webkit-text-fill-color: rgb(12, 12, 12);
    background-color:rgba(245, 245, 245, 0.475);
    border: none;
}
.Contact_Us_number_subject input [type=text]{
    -webkit-text-fill-color: aliceblue;
    background-color:rgba(245, 245, 245, 0.475);
    border: none;
}
.Contact_Us_message input [type=text]{
    -webkit-text-fill-color: rgb(12, 12, 12);
    background-color:rgba(245, 245, 245, 0.475);
    border: none;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

