#feedback-heading{
    margin-left: 5rem;
    margin-top: -13rem;
    color: #991b1f;
}
#feedcard{
   margin-left: 3rem;
   margin-right: 3rem;
}
#feedcontainer{
    width: 80rem;
    padding-block:3rem;
    margin-top: -2rem;
}
.feedback{
    background-color: black;
    width: 95.5rem;
}

