.Gallery{
    background-image: url('../../Images/Galleryimg1.jpg');
    background-size: cover;
    width: 95rem;
}
form{
    margin-left: 20rem;
    font-size: xx-large;
    font-family:cursive;
    width: 30rem;
    height: 50rem;
}
form h1{
    margin-left: 3rem;
    font-weight: 600;
}
form p{
    font-weight: 50;
    font-style: italic;
    
}
.Gallery-page2{
    background-color:black;
    
}
.Gallery-page2 p{
    color:rgba(165, 7, 7, 0.831);
    font-family: cursive;
    font-size: xx-large;
    margin-bottom: 3rem;
}
.g-img1{
    width: 30rem;
    height: 25rem;
    display: flex;
margin-left: 7rem;
transition: transform 0.2s ease-in-out;
}
.g-img1:hover{
    transform: scale(1.2);
}
.g-img2{
    width: 30rem;
    height: 25rem;
    display: flex;
    margin-left: 50rem;
    margin-top: -25rem;
    transition: transform 0.2s ease-in-out;
}
.g-img2:hover{
    transform: scale(1.2);
}
.g-img3{
    width: 20rem;
    height: 15rem;
    display: flex;
    margin-left: 7rem;
    margin-top: 3rem;
    transition: transform 0.2s ease-in-out;
}
.g-img3:hover{
    transform: scale(1.2);
}
.g-img4{
    width: 20rem;
    height: 15rem;
    display: flex;
    margin-left: 35rem;
    margin-top: -14rem;
    transition: transform 0.2s ease-in-out;
}
.g-img4:hover{
    transform: scale(1.2);
}
.g-img5{
    width: 20rem;
    height: 15rem;
    display: flex;
    margin-left: 65rem;
    margin-top: -14rem;
    transition: transform 0.2s ease-in-out; 
}
.g-img5:hover{
    transform: scale(1.2);
}
.g-img6{
    width: 26rem;
    height: 23rem;
    display: flex;
    margin-left: 7rem;
    margin-top: 2rem;
    transition: transform 0.2s ease-in-out; 
}
.g-img6:hover{
    transform: scale(1.2);
}
.g-img7{
    width: 26rem;
    height: 23rem;
    display: flex;
    margin-left: 48rem;
    margin-top: -23rem;
    transition: transform 0.2s ease-in-out;  
    
}
.g-img7:hover{
    transform: scale(1.2);
}
