.payment_main2 {
    display: flex;
}
.payment_main1{
    margin-top: 10rem;
    margin-left: 13rem;
}
.payment_main1 form{
    border: 1px solid rgba(124, 121, 121, 0.37);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 grey;
    height: 24rem;
    width: 25rem;
    
}
/* #payment_head{
    font-size: x-large;
} */