#userreg{
    background-image: url('../../Images/UserRegistration.jpg');
    background-size: cover;
}

.userregcustomer-form form{   
margin-top: -3rem;
 height: 50rem;
 width:40rem;
 margin-left: 45rem;
}

.userregcustomer-form h1{
    
    margin-top: 3rem;
    -webkit-text-fill-color: aliceblue;
    font-family:  "Lucida Console", "Courier New", monospace;
    font: weight 25px; 
}
.userregcustomer-details{
    margin-top: 6rem;
}
.userregcustomer-name{
    margin-left: 6rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
   
}

.userregno-email-pass{
    width: 28.5rem;
    margin-left: 0.8rem;
}
.userreg-conifrmpassword{
    margin-top: 1.5rem;
    /* margin-bottom: 1rem; */
}
.userreg-address{
    
    width: 28.5rem;
    margin-left: 0.6rem;
    margin-top: 1rem;
}
.userregpincode{
    width: 13.5rem;
    padding: 0.01rem;
    margin-left: -14.5rem;
    
}
.userregcustomer-form button{
    margin-top: 1rem;
    margin-left: 1rem;
    width: 8rem;
    -webkit-text-fill-color: black;
}
input[type="text"],[type="number"],[type="email"],[type="password"]{
    background-color: rgba(240, 248, 255, 0.416);
    -webkit-text-fill-color: black;   
}
.userreg-district-state{
    margin-left: 6rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
}
.col-auto{
    display: flex !important;
    width: 15rem;
    height: 2.3rem;
    
}

