.userregcustomer-form form{
    background-color: rgba(0, 0, 0, 0.073);
margin-top: 10rem;
 height: 34rem;
 width:40rem;
 margin-left: 45rem;
}
body{
    background-image: url('../../Images/UserRegistration.jpg');
    background-size: cover;
}
.userregcustomer-form  h1{
    margin-top: 3rem;
    -webkit-text-fill-color: aliceblue;
    font-family:  "Lucida Console", "Courier New", monospace;
    font: weight 25px; 
}
.userregcustomer-details{
    margin-top: 1rem;
}
.userregcustomer-name{
    width: 30rem;
    display: flex;
    padding: 0.1rem;
    margin-left: 2rem;
}
.userregdob{
    padding: 1.5rem;
    width:30.5rem ;
    margin-left: -.5rem;
}
.userregno-email{
    width: 27.5rem;
    margin-left: -.5rem;
}
.userregdistrict-state{
    display: flex;
    width: 30rem;
    margin-left: 2rem;
}
.userregpincode{
    width: 13.1rem;
    padding: 0.1rem;
    margin-left: -14.9rem;
    
}
.userregcustomer-form button{
    margin-top: 1rem;
    margin-left: 1rem;
    -webkit-text-fill-color: black;
}
input[type="text"],[type="email"],[type="date"]{
    background-color: rgba(240, 248, 255, 0.416);
    -webkit-text-fill-color: black;
    
}

