.card-img-top{
    height: 230px;
  width: 100%;
}
.user_menu{
    background-color: black;
    width: 96rem;
}
.usermenu_card:hover{
    height: 400px;
  }
.usermenu_card h5{
    -webkit-text-fill-color: black;
    font-family: 'Bona Nova';
    font-size: 25px;
}
.usermenu_card{
    background-color: #ffffff;
  font-family:'Bona Nova';
  width: 400px;
  overflow: hidden;
  height: 330px;
  
}
.card {
    box-shadow: 0 4px 8px 0 rgba(227, 221, 221, 0.788);
    transition: 0.3s;
  }
  
  .card {
    box-sizing: content-box;
    margin: 25px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.589);
  }
  .usermenu_cardtext h6{
    font-size: 20px;
    font-weight: 900;
  }
  .usermenu_bottomsection{
  border-radius: 10px;
  }
  
