table{
font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  
}
/* 
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  
} */

tr:nth-child(even) {
  background-color: #dddddd;
}
/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  } */
  