
#staff-login{
    background-image: url('../../Images/Staff_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    width: 100%;
    position: absolute;
    
}
.staff_login_form{
    position: absolute;

}
#header{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
margin-left: 15px;
margin-bottom: 3.5rem;

}
.staff_login_email input{
    width: 20rem;
    margin: 3rem;
    background-color: rgba(240,248,255,0.416);
    color: black;
    border: 1px solid  white;
    
}
.staff_login_password input{
    width: 20rem;
   margin: 3rem;
   background-color: rgba(240,248,255,0.416);
   color: black;
   border: 1px solid  white;


}
.forgot__password{
    font-family: 'Times New Roman', Times, serif;
-webkit-text-fill-color: white;
font-size: 16px;
margin-top: 2.5rem;
margin-left: 2rem;
}
