.staffmenu_topsection img{
  height: 230px;
  width: 100%;
}
.Staffmenu{
  background-color: black;
  width: 96rem;
}
.staffmenu_card:hover .card{
  height: 400px;
}
.staffmenu_card :hover .bottom-section {
  height: 45%;
  border-radius: 6px;
}
.staffmenu_topsection,
.bottom-section,
.staffmenu_card {
transition: height 0.5s;
}
.staffmenu_topsection{
  height: 100%;
}
.bottom-section {
  background-color: #ffffff;
  height: 100%;
  font-family:'Bona Nova';
}
.staffmenu_card  .card:hover {
  height: 400px;
}
.staffmenu_card .card:hover .staffmenu_topsection {
  height: 20%;
}
.staffmenu_card .card{
  width: 400px;
  overflow: hidden;
  height: 330px;
  margin-left: 5rem;
}

.bottom-section p{
  padding: -10rem;
  margin-top: -1rem;
  margin-left: 1rem;
}
.bottom-section h5{
  font-size: 20px;
  margin-top: 1rem;
}
.staffmenu_card .card{
  margin-left: 3rem;
  
}
.container{
  padding: 2px 16px;
  margin-left: 4rem;
} 
.staffmenu_card  .card{
  box-shadow: 0 4px 8px 0 rgba(206, 9, 9, 0.788);
  transition: 0.3s;
}

.staffmenu_card .card{
  box-sizing: content-box;
  margin: 25px;
}

.staffmenu_card .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.589);
}

