*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#staff-login{
    background-image: url('../../Images/Staff_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    
}
#header{
    color: whitesmoke;
    /* font-weight: bold; */
    font-size: 40px;
    text-align: center;
}
.login-form{
    height: 300px;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 25px;
    border: 1px solid white;
    position: absolute;
    left: 200px;
    bottom: 140px;
display: flex;
justify-content: center;
align-items: center;
min-height: 70vh;
flex-direction: column;
gap: 30px;
    
}
.input-box{
    position: relative;
    width: 250px;
}
.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    background: rgba(211, 211, 211, 0.014);
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;

}
.input-box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.315);
}
/* input[type=text],[type=password]{
    height: 50px;
    width: 20px;
} */
